*  
{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --font-size: 1.2rem;
    --padding-left: 30px;
    --prim-color: rgb(97, 37, 37);;
}

@font-face
{
    font-family: 'Norse Bold';
    src: 
    url("Font/Norse-Bold.woff") format("woff"),
    url("Font/Norse-Bold.woff2") format("woff2");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face
{
    font-family: 'FiraSans Bold';
    src: 
    url("Font/FiraSans-Bold.woff") format("woff"),
    url("Font/FiraSans-Bold.woff2") format("woff2");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face
{
    font-family: 'FiraSans';
    src: 
    url("Font/FiraSans-Regular.woff") format("woff"),
    url("Font/FiraSans-Regular.woff2") format("woff2");
    font-weight: bolder;
    font-style: normal;
    font-display: swap;
}

body 
{
    display: flex;
    background-color: rgb(251, 250, 250);
}

.left-section
{
    width: 500px;
    height: 100vh;
    border: 1px solid black;
    background-image: url('images/nathan-dumlao-XOhI_kW_TaM-unsplash.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.logo-container
{
    position: absolute;
    top: 150px;
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3px;
    background-color: rgba(0, 0, 0, 0.532);
}

.logo > img
{
    width: 60px;
    height: 80px;
}

.logo-text
{
    font-family: 'Norse Bold';
    color: white;
    font-size: 4rem;
}

.credit-container 
{
    width: 100%;
    color: rgba(255, 255, 255, 0.834);
    font-family: 'Times New Roman', Times, serif;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    bottom: 5px;
}

.photo-owner > a 
{
    color: rgba(255, 255, 255, 0.834);
}


.right-section
{
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.sign-up-description 
{
    font-family: "FiraSans Bold";
    font-size: var(--font-size);
    padding-left: var(--padding-left);
   
  
}

.sign-up-description > div:first-child
{
    margin-bottom: 20px;
}

.sign-up-description > div:last-child
{
    margin-bottom: 40px;
}

.sign-up 
{
    background-color: white;
    width: 100%;
    padding-left:  var(--padding-left);
    padding-top: 20px;
    padding-bottom: 30px;
    box-shadow: 0px 2px 4px rgb(179, 176, 176);
}

.signup-title
{
    font-family: "FiraSans Bold";
    font-size: var(--font-size);
    padding-bottom: 15px;
   
}

.row-form-control 
{
   display: flex;
   gap:50px;
}

.row-form-control > div
{
    display: flex;
    justify-content: flex-start;
    flex-flow: column wrap;
    width: 200px;
    gap: 2px;
    padding-bottom: 12px;
}

input {
    outline: none;
}

input[type] 
{
    padding: 4px 2px;
    border: groove  1px  rgb(206, 203, 203);
    border-radius: 3px;
    font-size: 14px;
}


input[type]:focus
{
    box-shadow: 0 2px 7px rgb(100, 99, 99);
    border: solid 1px blue;
}

input[type="password"]:invalid
{
    border: solid 1px red;
}

label
{
    font-family: "FiraSans";
    font-size: 12px;
    letter-spacing: 1px;
}

#result-message {
    padding: 2px 0;
    font-size: 11px;
    display: inline-block;
}

.submit-button
{
    padding: var(--padding-left);
}


button 
{
    padding: 12px 46px;
    border-radius: 6px;
    font-size: 16px;
    font-family: 'FiraSans Bold';
    color: white;
    border: none;
    background-color: var(--prim-color);
}

.user-status-account
{
    font-family: 'FiraSans';
    padding-left: var(--padding-left);
    font-size: 16x;
}

.user-status-account a {
    text-decoration: none;
    font-weight: 600;
    color: var(--prim-color);
}



